body {
  background-color: #282a36 !important;
}
h1 {
  font-family: "La Belle Aurore", serif;
  font-size: 2.5em;
  color: #e79c60;
}
p {
  font-family: "IM Fell English", cursive;
  font-size: 2em;
  color: #efe5d5;
}
#complementArea {
  height: auto;
}

.BoxCenter {
  max-width: 80em;
  max-height: 70em;
  min-width: 80em;
  min-height: 70em;
  margin:0 auto;
  text-align: center;
}

img {
  max-width: 20em;
  height: auto;
}


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-template-areas:
    ". . . . . ."
    ". Image Image Sir Sir ."
    ". Image Image Response Response ."
    ". Image Image Button Button ."
    ". . . . . .";

  justify-content: center;
  align-items: center;
}

.Image {
  grid-area: Image;
}

.Sir {
  grid-area: Sir;
}

.Button {
  grid-area: Button;
}

.Response {
  grid-area: Response;
}

.photo {
  background-size: cover;
  width: 55%;
  height: auto;
  /*float: left; */
}
.ribbon {
  font-size: 2em;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

  width: 20em;
  font-family: "IM Fell English", serif;
  font-size: 1em;
  position: relative;
  background: #e79c60;
  color: #282A36;
  text-align: center;
  padding: 1em 2em; /* Adjust to suit */
  margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #d48a55;
  z-index: -1;
}
.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}
.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}
.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #b68c46 transparent transparent transparent;
  bottom: -1em;
}
.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}
